*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
.android-user-home/
**/.test-home/
.kotlin/
xray-protos/bin
release.jks
ocr_methodika_vpn_proxy.md
.claude/
tag_and_push.sh
tag_and_push.ps1
/.codex
Методика_выявления_признаков_использования_VPN_и_proxy_в_клиентских.md
Методика_выявления_признаков_использования_VPN_и_proxy_в_клиентских.docx
